body {
    scroll-behavior: smooth !important;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    webkit-app-region: no-drag;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
    display: none;
}